$mainColor: #2196f3;
$mainColorAlt: #1473c0;
$sectionColor: #ececec;
$pColor: #555;
$mainTransition: 0.3s;
$mainPadding: 100px;

$darkColor: #191919;
$sectionDarkColor: #212121;
$pDarkColor: #aaa;
$boxDarkColor: #111;
