footer {
  background-color: #191919;
  padding: 70px 0 0;
  @media (max-width: 767px) {
    text-align: center;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    .box {
      h3 {
        color: white;
        font-size: 50px;
        margin: 0 0 20px;
      }
      .social {
        display: flex;
        @media (max-width: 767px) {
          justify-content: center;
        }
        li {
          margin-right: 10px;
          a {
            background-color: #313131;
            color: #b9b9b9;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            font-size: 20px;
            transition: $mainTransition;
          }
        }
        .facebook:hover {
          background-color: #1877f2;
        }
        .twitter:hover {
          background-color: #1da1f2;
        }
        .youtube:hover {
          background-color: #ff0000;
        }
      }
      .text {
        line-height: 2;
        color: #b9b9b9;
        margin: 10px 0;
      }
      .links {
        li {
          padding: 15px 0;
          transition: $mainTransition;
          &:not(:last-child) {
            border-bottom: 1px solid #444;
          }
          &:hover {
            padding-left: 10px;
            a {
              color: white;
            }
          }
          a {
            color: #b9b9b9;
            transition: $mainTransition;
          }
          svg {
            color: $mainColor;
            margin: {
              right: 10px;
            }
          }
        }
      }
      .line {
        display: flex;
        align-items: center;
        color: #b9b9b9;
        margin-bottom: 30px;
        @media (max-width: 767px) {
          flex-direction: column;
        }
        .info {
          line-height: 1.7;
          flex: 1;
          span {
            display: block;
          }
        }
        svg {
          color: $mainColor;
          margin: 0 10px;
          font-size: 2rem;
          @media (max-width: 767px) {
            margin-bottom: 15px;
          }
        }
      }
    }
    .footer-gallery {
      img {
        width: 78px;
        border: 3px solid white;
        margin: 2px;
      }
    }
  }
}
