.spikes {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 2;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),
      linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
  }
}

.dark-mode {
  .spikes {
    &::after {
      background-image: linear-gradient(135deg, $darkColor 25%, transparent 25%),
        linear-gradient(225deg, $darkColor 25%, transparent 25%);
    }
  }
}
