.stats {
  padding: $mainPadding 0;
  position: relative;
  background-image: url("../../images/stats.WebP");
  background-size: cover;
  min-height: 300px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($sectionColor, 0.95);
  }
  h2 {
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto 50px;
    position: relative;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    .box {
      background-color: white;
      padding: 30px 15px;
      text-align: center;
      position: relative;
      opacity: 0.7;
      transition: $mainTransition;
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 2px;
        background-color: $mainColor;
        transition: 1s;
        height: 0;
      }
      &::before {
        top: 0;
        right: 0;
      }
      &:after {
        left: 0;
        bottom: 0;
      }
      &:hover {
        opacity: 1;
        &::before,
        &::after {
          height: 100%;
        }
      }
      svg {
        font-size: 2rem;
      }
      .number {
        display: block;
        font-size: 50px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .text {
        color: $mainColor;
        font-style: italic;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}

.dark-mode {
  .stats {
    &::before {
      background-color: rgba($sectionDarkColor, 0.95);
    }
  }
}
